@using Acme.SimpleTaskApp.Entities.Tasks
@model Acme.SimpleTaskApp.Web.Models.Tasks.IndexViewModel

@{
    ViewBag.Title = L("TaskList");
    ViewBag.ActiveMenu = "TaskList"; //Matches with the menu name in SimpleTaskAppNavigationProvider to highlight the menu item
}

<div class="container mt-4">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto">
            <h2>@L("TaskList")</h2>
        </div>
        <div class="col-auto">
            @Html.DropDownListFor(
                     model => model.SelectedTaskState,
                     Model.GetTasksStateSelectListItems(LocalizationManager),
                     new { @class = "form-control", id = "TaskStateCombobox", style = "max-width: 200px;" })
        </div>
    </div>

    <div class="card mt-4 shadow-sm rounded">
        <div class="card-body">
            <ul class="list-group">
                @foreach (var task in Model.Tasks)
                {
                    var backgroundColor = task.State == TaskState.Open ? "background-color: antiquewhite;" : "background-color: lightgray;";
                    <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm mb-2">
                        <div class="task-info">
                            <h5 class="mb-1">@task.Title</h5>
                            <small class="text-muted">@task.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</small><br />
                            <small class="text-muted">@L($"AssignedTo: {task.AssignedPersonName ?? L("Unassigned")}")</small>
                        </div>
                        <span class="badge rounded-pill @Model.GetTaskLabel(task)" style="@backgroundColor">
                            @L($"TaskState_{task.State}")
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <a class="btn btn-success btn-sm rounded-pill px-4 py-2" asp-action="Create">
            <i class="fas fa-plus-circle me-2"></i>@L("AddNew")
        </a>
    </div>
</div>

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Tasks/index.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Tasks/index.min.js"></script>
    </environment>
}
