@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using Acme.SimpleTaskApp
@using Acme.SimpleTaskApp.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebResourceManager WebResourceManager
@inject ILanguageManager LanguageManager
@inject IMultiTenancyConfig MultiTenancyConfig
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "SimpleTaskApp";
    
    var hideTenantChange = ViewBag.HideTenantChange != null && ViewBag.HideTenantChange == true;
    var showTenantChange = MultiTenancyConfig.IsEnabled && !hideTenantChange;
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition login-page" style="min-height: 392px; display: flex;justify-content: center; align-items: center;">
    <div style="position:absolute;top: 0; z-index: 1000; background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 100%; "> @await Html.PartialAsync("~/Views/Shared/Layout_user/_Header.cshtml")</div>

    <div class="login-box" style="margin-top: 70px;">

        @* <div class="login-logo"> *@
        @*     <a href="/"><b>Website bán đồ điện tử</b></a> *@
        @* </div> *@
        <div class="card">
            @* @if (showTenantChange) *@
            @* { *@
            @*     <div class="card-header"> *@
            @*         <vc:tenant-change></vc:tenant-change> *@
            @*     </div> *@
            @* } *@
            <div class="card-body login-card-body">
                @RenderBody()
            </div>
            <div class="card-footer">
                <vc:account-languages></vc:account-languages>
            </div>
        </div>
        @* <div class="row"> *@
        @*     <div class="col-md-12 text-center"> *@
        @*         <small>&copy; @DateTime.Now.Year SimpleTaskApp. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small> *@
        @*     </div> *@
        @* </div> *@
    </div>
    <div style="width: 100%; position: absolute; bottom: 0; z-index: 999; margin: 10px;">@await Html.PartialAsync("~/Views/Shared/Layout_user/_Footer.cshtml")</div>

    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
    @WebResourceManager.RenderScripts()
</body>
</html>
