<!-- Modal Update Product -->
@using Abp.Authorization.Users
@using Acme.SimpleTaskApp.Web.Models.Common.Modals
@using Acme.SimpleTaskApp.Web.Models.FlashSales
@using System.Globalization
@model FlashSaleEditListViewModel

@{
	Layout = null;
}



@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditFlashSale")))
<form name="ProductEditForm" role="form" class="form-horizontal" enctype="multipart/form-data" method="">
	<input type="hidden" name="Id" value="@Model.Id" />
	<div class="modal-body">

		<div class="tab-content mt-4">
			<div role="tabpanel" class="tab-pane container active" id="edit-product-details">
				<div class="form-group row required">
					<label class="col-md-3 col-form-label" for="name">@L("Name")</label>
					<div class="col-md-9">
						<input id="name" type="text" class="form-control" name="Name" value="@Model.Title" required>
					</div>
				</div>


				<div class="form-group row required">
					<label class="col-md-3 col-form-label" for="StartTime">@L("StartTime")</label>
					<div class="col-md-9">
						<input id="StartTime" type="datetime-local" class="form-control" name="StartTime" value="@Model.StartTime.ToString("yyyy-MM-ddTHH:mm")" required>
					</div>
				</div>
				<div class="form-group row required">
					<label class="col-md-3 col-form-label" for="EndTime">@L("EndTime")</label>
					<div class="col-md-9">
						<input id="EndTime" type="datetime-local" class="form-control" name="EndTime" value="@Model.EndTime.ToString("yyyy-MM-ddTHH:mm")" required>
					</div>
				</div>
				<div class="form-group row required">
						<label class="col-md-3 col-form-label" for="IsActive">@L("IsActive")</label>
						<div class="col-md-9">
								<select id="IsActive" name="IsActive" class="form-control" required>
									<option value="1" selected="@(Model.IsActive  ? "selected" : null)">Đang chạy</option>
									<option value="0" selected="@(Model.IsActive ? null : "selected")">Tạm dừng</option>
								</select>
						</div>
				</div>

			</div>

		</div>
	</div>
	@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/FlashSales/_EditModal.js" asp-append-version="true"></script>
