<!-- Modal  Create Product-->
@* <div class="modal fade" id="CreateProductModal" tabindex="-1" aria-labelledby="CreateProductModalLabel" aria-hidden="true"> *@
@*     <div class="modal-dialog"> *@
@*         <div class="modal-content"> *@
@*             <div class="modal-header"> *@
@*                 <h5 class="modal-title" id="CreateProductModalLabel">@L("New Product")</h5> *@
@*                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"> *@
@*                     <span aria-hidden="true">&times;</span> *@
@*                 </button> *@
@*             </div> *@
@*             <div class="modal-body"> *@
@*                 <form id="CreateProductForm" enctype="multipart/form-data"> *@
@*                     <div class="form-group"> *@
@*                         <label for="Name">@L("Name product")</label> *@
@*                         <input type="text" name="Name" class="form-control" placeholder="@L("Name product")"> *@
@*                     </div> *@
@*                     <div class="form-group"> *@
@*                         <label for="Images">@L("Images")</label> *@
@*                         <input type="file" name="Images" class="form-control"> *@
@*                     </div> *@
@*                     <div class="form-group"> *@
@*                         <label for="Description">@L("Description")</label> *@
@*                         <input type="text" name="Description" class="form-control" placeholder="@L("Description")"> *@
@*                     </div> *@
@*                     <div class="form-group"> *@
@*                         <label for="Price">@L("Price")</label> *@
@*                         <input type="text" name="Price" class="form-control" placeholder="@L("Price")"> *@
@*                     </div> *@
@*                     <div class="form-group"> *@
@*                         <label for="StockQuantity">@L("StockQuantity")</label> *@
@*                         <input type="text" name="StockQuantity" class="form-control" placeholder="@L("Stock")"> *@
@*                     </div> *@
@*                     <button type="submit" class="btn btn-primary">@L("Save")</button> *@
@*                 </form> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@


@using Abp.Authorization.Users
@using Acme.SimpleTaskApp.Web.Models.Categories
@using Acme.SimpleTaskApp.Web.Models.Common.Modals
@model CategoryListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="CategoryCreateModal" tabindex="-1" role="dialog" aria-labelledby="CategoryCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewCategory")))
            <form name="categoryCreateForm" role="form" class="form-horizontal" enctype="multipart/form-data">
                <div class="modal-body"> 
                    <div class="tab-content mt-4">
                        <div role="tabpanel" class="tab-pane container active" id="create-category-details">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Code")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Code" required>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Name")</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Name" required >
                                  
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
